<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bejeweled.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Bejeweled.My.MySettings>
            <setting name="BoardWidth" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BoardHeight" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="SpeedSwap" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="SpeedShift" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SpeedDestruction" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="EnableSound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoardX" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="BoardY" serializeAs="String">
                <value>33</value>
            </setting>
            <setting name="StartLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BonusMuliplicator" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BonusValue" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ToNextLevel" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ToNextIncrease" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="EnableAnimations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IntervalDecrease" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="IntervalMultiplicator" serializeAs="String">
                <value>1.5</value>
            </setting>
            <setting name="IntervalMilliseconds" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="DefaultName" serializeAs="String">
                <value />
            </setting>
            <setting name="RandomizeRotation" serializeAs="String">
                <value>False</value>
            </setting>
        </Bejeweled.My.MySettings>
    </userSettings>
</configuration>
